:root {
  --bg-color: rgb(245, 245, 245);
  --transparent-bg-color: rgba(245, 245, 245, 0.8);
  --headline-color: rgb(255, 122, 66);
  --text-color: rgb(33, 36, 43);
  --shadow-color: rgba(33, 36, 43, 0.1);
  --button-color: rgb(217, 17, 74);
  --hover-color: rgb(255, 118, 139);
  --active-color: rgb(255, 221, 214);
  --border-color: rgb(50, 184, 203);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
  overflow-x: hidden;
}

.navbar {
  width: 100%;
  height: 75px;
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 0 1px 5px var(--shadow-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  position: sticky;
  top: 0;
  z-index: 99;
}

.navbar .logo {
  color: var(--headline-color);
  cursor: pointer;
}

.navbar .logo span {
  color: var(--text-color);
}

.menu {
  display: flex;
}

.menu li {
  list-style: none;
  padding: 0 10px;
}

.menu li a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.1em;
  position: relative;
  transition: color 0.15s linear;
}

.menu li a:hover {
  color: var(--headline-color);
}

.menu li a::after {
  position: absolute;
  left: 0;
  bottom: -3px;
  content: "";
  width: 0%;
  height: 2px;
  border-radius: 2px;
  background-color: var(--headline-color);
  transition: width 0.15s linear;
}

.menu li a:hover::after {
  width: 100%;
}

.button:link,
.button:visited {
  text-decoration: none;
  background-color: var(--border-color);
  color: var(--bg-color);
  font-size: 1.2em;
  padding: 5px 25px;
  border-radius: 20px;
  display: inline-block;
  transition: color 0.15s linear, background-color 0.15s linear,
    box-shadow 0.15s linear;
}

.button:hover {
  background-color: var(--hover-color);
}

.button:active {
  background-color: var(--active-color);
  color: var(--text-color);
  box-shadow: inset 2px 2px 5px rgb(215, 188, 180),
    inset -2px -2px 5px rgb(255, 240, 235);
}

.container {
  padding: 0 10%;
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-details {
  width: 60%;
  margin-right: 25px;
}

.hero-details h1 {
  font-size: 3.5rem;
}

.hero-details h1 span {
  color: var(--headline-color);
}

.hero-details p {
  font-size: 1.2em;
  text-align: justify;
  margin: 30px 0;
}

.hero-details .button {
  font-size: 1.6em;
  padding: 10px 30px;
  border-radius: 30px;
  margin-top: 50px;
}

.hero-images {
  width: 40%;
  position: relative;
}

.hero-images .image-container {
  height: 400px;
  width: 400px;
  overflow: hidden;
  position: absolute;
  border-radius: 20px;
  box-shadow: 10px 10px 50px rgba(33, 36, 43, 0.5);
}

.hero-images .image-container:hover img {
  transform: scale(1.3);
  filter: grayscale(1);
}

.hero-images .image-container:first-child {
  top: -150px;
  right: 0;
  z-index: 1;
}

.hero-images .image-container:nth-child(2) {
  top: 130px;
  right: 320px;
  height: 300px;
  width: 300px;
  z-index: 2;
}

.hero-images .image-container:nth-child(3) {
  top: -320px;
  right: 280px;
  height: 250px;
  width: 250px;
  z-index: 3;
}

.hero-images .image-container img {
  width: 100%;
  transition: all 0.3s linear;
}

.offer {
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.offer h2 {
  font-size: 3rem;
  color: var(--headline-color);
}

.offer p {
  font-size: 1.2em;
  text-align: justify;
}
.partners {
  text-align: center;
  margin-bottom: 20px;
  font-size: 3rem;
  color: var(--headline-color);
}

.logo-slider {
  height: 200px;
  overflow: hidden;
  width: calc(300px * 12);
  animation: slide 80s linear infinite;
  margin-bottom: 100px;
}

.logo-slider div img {
  width: 300px;
  filter: grayscale(1);
  transition: filter 0.2s linear;
}

.logo-slider div img:hover {
  filter: grayscale(0);
}

.logo-slider:hover {
  animation-play-state: paused;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-300px * 7));
  }
}
